body{
    background-color: rgb(107, 6, 6);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(18, 252, 240);
    min-height: 107px;
}
.navbar-brand h1{
    color: darkblue;
    font-size: 40px;
}
.container{
    color: white;
}
.text-center{
    margin-bottom: 39px;
    font-size: 36px;
}
.section-1{
  border: 2px solid cyan;
  padding: 0px 30px 10px;
  position: relative;
  margin-bottom: 70px;
  background-color: rgb(54, 54, 54);
}
.section-title{
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
}
.content{
    margin-top: 32px;
}
.navbar-toggle{
    border: 1px solid white;
    margin-top: 38px;
    margin-right: 31px;
}
.icon-bar{
    background-color: white;
}
#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
@media (min-width:767px){
.hidden{
       display: none;
    }
}
